.App {
  text-align: center;
  color: #FFFFFF;
  font-size: 2em;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Disclaimer {
  font-size: small;
}

.movieTitle {
  color: #1beecb;
}

.pageTitle {
  color: #e032d2;
}

.instructionsText {
  margin: 5px;
  font-size: small;
}

.aspectRatio {
  color: #ee1bb9;
}